@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  display: grid;
  margin: 0;
  background-color: rgb(252, 249, 249);
  font-family: "Open Sans", sans-serif;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
}
header {
  grid-area: header;
  height: auto;
  padding: 15px 100px;
  background: rgb(6, 6, 6);
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Betania Patmos In", cursive;
}
header p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
}
main {
  grid-area: main;
  display: grid;
  height: 90vh;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 0px 30px;
  margin-left: 10px;
}
aside {
  grid-area: aside;
  background-color: rgb(252, 249, 249);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.482);
  padding: 20px;
  text-align: start;
  color: #2b2d42;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
aside a {
  text-decoration: none;
  color: #2b2d42;
  font-size: 0.9rem;
  font-weight: 600;
}
footer {
  grid-area: footer;
  background-color: rgb(6, 6, 6);
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  gap: 12rem;
  padding-top: 40px;
  justify-content: center;
  color: white;
}
.producto {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  max-width: 16rem;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.producto:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}
.producto button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: 80%;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
.producto button:hover {
  background-color: #1a1c2c;
}
.producto img {
  width: 100%;
  height: 15rem;
  margin: 0;
  object-fit: cover;
  display: block;
  object-position: center center;
}
.descripcion {
  margin: 10px 5px;
  font-size: 0.7rem;
  text-align: center;
}
.precio {
  font-size: 0.9rem;
  font-weight: 600;
  color: #1a1c2c;
}
.producto h2 {
  margin: 0;
  margin-top: 5px;
  font-size: 1.5rem;
}
