@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  display: grid;
  margin: 0;
  background-color: rgb(252, 249, 249);
  font-family: "Open Sans", sans-serif;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
}
header {
  grid-area: header;
  height: 5vh;
  padding: 0 20px;
  background: rgb(6, 6, 6);
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
}
header p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
main {
  grid-area: main;
  display: grid;
  height: 90vh;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
aside {
  grid-area: aside;
  background-color: rgb(252, 249, 249);
  padding: 20px;
  text-align: start;
  color: #2b2d42;
  border-right: #1a1c2c solid 1px;
}
footer {
  grid-area: footer;
  background-color: #2b2d42;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  gap: 12rem;
  justify-content: center;
  color: white;
}
.producto {
  background-color: #edf2f4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  max-width: 16rem;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.producto button {
  margin-top: 10px;
  padding: 15px;
  width: 80%;
  background-color: #2b2d42;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
.producto button:hover {
  background-color: #1a1c2c;
}
.producto img {
  width: 100%;
  height: 15rem;
  margin: 0;
  object-fit: cover;
  display: block;
  object-position: center center;
}
.producto p {
  margin: 10px 5px;
  font-size: 0.8rem;
}
.producto h2 {
  margin: 0;
  font-size: 1.5rem;
}
