@import url("https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  display: grid;
  margin: 0;
  background-color: rgb(252, 249, 249);
  font-family: "Open Sans", sans-serif;
  grid-template-areas:
    "nav nav nav nav"
    "aside main main main"
    "footer footer footer footer";
}
nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  height: auto;
  padding: 15px 100px;
  background: rgb(6, 6, 6);
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 9999;
}
nav h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Betania Patmos In", cursive;
}
nav p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}
main {
  grid-area: main;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  align-items: center;
  gap: 1.8rem;
  margin: 40px;
}
aside {
  grid-area: aside;
  background-color: rgb(252, 249, 249);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.482);
  padding: 20px;
  max-width: 16rem;
  text-align: start;
  color: #2b2d42;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
aside a {
  text-decoration: none;
  color: #2b2d42;
  font-size: 0.9rem;
  font-weight: 600;
}
aside a:hover {
  color: #1a1c2c;
  transform: translateX(4px);
  transition: all 0.3s ease-in-out;
}
footer {
  grid-area: footer;
  background-color: rgb(6, 6, 6);
  height: auto;
  padding-top: 40px;
  color: white;
}
.informacion {
  display: flex;
  flex-flow: row wrap;
  gap: 12rem;
  justify-content: center;
}
.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.logo h1 {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Betania Patmos In", cursive;
}
.logo p {
  font-size: 0.7rem;
  font-weight: 200;
}
.producto {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  width: 18rem;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.producto:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.003);
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
.producto button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: 80%;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
.producto button:hover {
  background-color: #eff0f7;
  border: 1px solid #000000;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.producto img {
  width: 100%;
  height: 15rem;
  margin: 0;
  object-fit: cover;
  display: block;
  object-position: center center;
}
.descripcion {
  margin: 10px 5px;
  font-size: 0.7rem;
  text-align: center;
}
.precio {
  font-size: 0.9rem;
  font-weight: 600;
  color: #1a1c2c;
}
.producto h2 {
  margin: 3px 5px 0 5px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 1.1rem;
}
